<!DOCTYPE html>
<html lang="en" dir="ltr">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <script type="text/javascript" src="js/main.js"></script>
    </head>
    <body>
      <div id="seq-area">
        <%for (var y = 0; y < 10; y++){%>
          <div id="container-<%=y%>" class="block-container">
            <div class="block header y<%=y%>">
              <span id="instrument-text">
                <span style="font-size: 14px;">Track <%=y + 1%></span>
                <br><br>
                <input class="inputfile" id="sound-<%=y%>" name="file" type="file" accept="audio/*">
              </span>
            </div><%for (var x = 0; x < 16; x++){%>
              <div onclick="updateStep(<%=y%>,<%=x%>),handleFileSelect(<%=y%>)" class="block" id="y<%=y%>x<%=x%>"></div><%}%>
          </div>
        <%}%>
      </div>

      <div id="controls-area">
        <input id="play_pause" onclick="playPause()" type="button" value="play/pause">
        <br><br>
        <span>Milliseconds per step (</span><span id="ms_val">300</span><span>)</span><br>
        <input type="range" min="100" max="500" value="300" oninput="updateTempo(this.value)" onchange="updateTempo(this.value)">
      </div>
    </body>
</html>
